<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->


    <bean id="engine" class="org.cfs.petrolEngine" autowire-candidate="false"/>
    <bean id="dieselEng" class="org.cfs.dieselEngine"/>

    <!-- <bean id="Car" class="org.cfs.Car" autowire="byName"/> -->
  <!--  <bean id="Car" class="org.cfs.Car" autowire="byType"/>   -->
    <bean id="Car" class="org.cfs.Car" autowire="constructor"/>

</beans>